<h1>Incidents#edit</h1>
<p>Find me in app/views/incidents/edit.html.erb</p>
￼<h1> Edit this Incident! </h1>
<%= form_for @incident do |f| %>
     Number: <%= f.text_field :number %>
     Caller: <%= f.text_field :caller %>
     Location: <%= f.text_field :location %>
     Category: <%= f.text_field :category %>
     Subcategory: <%= f.text_field :subcategory%>
     Email: <%= f.text_field :email %>
     Shortdescription: <%= f.text_field :shortdescription %>
     Opened: <%= f.text_field :opened %>
     Openedby: <%= f.text_field :openedby %>
     Config_item: <%= f.text_field :config_item %>
     Impact: <%= f.text_field :impact %>
     Urgency: <%= f.text_field :urgency %>
     Priority: <%= f.text_field :priority %>
     State: <%= f.text_field :state %>
     Assignment_group: <%= f.text_field :assignment_group %>
     Assigned_to: <%= f.text_field :assigned_to %>
     Isactive: <%= f.text_field :isactive %>
     Contact_type: <%= f.text_field :contact_type %>


    <%= f.submit "Edit incidents!" %>
    <% end %>
 <%= link_to "Back to the list!", incidents_path %>