<div class="container">
     <div class="header">
   
     </div>

	<h3> Incident Details </h3>


		<table border="1" style="width:920" class="table table-striped">
				<tr><td>Number </td><td><%= @incident.number %></td></tr>
				<tr><td>Caller </td><td><%= @incident.caller %></td></tr>
				<tr><td>Location </td><td><%= @incident.location %></td></tr>
				<tr><td>Category </td><td><%= @incident.category %></td></tr>
			    <tr><td>Email</td><td><%= @incident.email%></td></tr>
				<tr><td>Short Description</td><td><%= @incident.shortdescription%></td></tr>
				<tr><td>State</td><td><%= @incident.state%></td></tr>
				<tr><td>Contact type</td><td><%= @incident.contact_type%></td></tr>
		</table>

	<%= link_to "Back to the list!", incidents_path %>&nbsp; &nbsp; &nbsp; 

	<%= link_to "Delete this incident!", @incident, method: :delete, data: { confirm: 'Are you sure you want to delete it?' } %>
	<div class="footer"></div>
</div>